:root {
  --dappnode-color: #2fbcb2;
  --dappnode-color-dark: #218a82;
  --dappnode-color-light: #a0bdbb;
  --toolbar-bg-color: #393e46;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  font-size: medium;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.card {
  background-color: #eee !important;
  padding: 10px;
  margin: 10px;
}

.content {
  padding-left: 180px;
}

// Nav-bar
.nav-bar {
  color: var(--dappnode-color);
  background-color: var(--toolbar-bg-color);
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232323;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Responsive nav-bar
@media screen and (max-width: 480px) {
  .nav-bar {
    width: 70px;
  }

  .content {
    padding-left: 80px;
    font-size: smaller;
  }
}
