// Nav-bar ITEMS
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: var(--dappnode-color);
  font-size: 22px;
  display: flex;
  align-items: center;
}

.nav-text a:hover {
  color: var(--dappnode-color-dark);
}

.nav-bar-items {
  margin: 10px;
  align-items: center;
  width: 100%;
  height: 55%;
  padding: 1rem;
}

// Nav-bar HEADER
.nav-bar-header,
.nav-bar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nav-bar-header-logo {
  margin: 30px;
  transform: scale(2.2);
}

// Nav-bar FOOTER
.nav-bar-footer {
  position: absolute;
  bottom: 20px;
}

.nav-bar-footer-media {
  display: flex;
  column-gap: 15px;
  transform: scale(1.2);
}

.nav-bar-footer-media a {
  color: var(--dappnode-color-dark);
  text-decoration: none;
}

// Separator
.nav-bar-separator {
  width: 80%;
  color: var(--dappnode-color);
  border: 0;
  border-top: 3px solid var(--dappnode-color);
}

// Responsive sidenav
@media screen and (max-width: 480px) {
  .nav-text {
    padding: 0;
    justify-content: center;
  }

  .nav-bar-items {
    padding: 0;
  }

  .nav-bar-footer-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
