.mat-toolbar {
  color: var(--dappnode-color);
  background-color: var(--toolbar-bg-color);
  min-height: 5vh;
}
.mat-toolbar-row,
.toolbar-media,
.toolbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
  }
}
.toolbar-ethereum {
  transform: scale(2);
}

.toolbar-media {
  column-gap: 15px;
}

.mat-sidenav {
  color: var(--dappnode-color);
}

.mat-sidenav-content {
  padding: 5vh;
  min-height: 82.6vh;
}
